.container {
    position: relative;
}

.date {
    font-size: 18px;
    text-align: center;
    margin: 4px auto;
    width: 40px;
    height: 40px;
    background: #15718d;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    z-index: 999;
    position: absolute;
    left: calc(50% - 20px);
    top: -18px;
    font-weight: 600;
    box-shadow: #0000002e 0px 6px 10px 1px;
}

.card {
    width: 380px;
    height: 220px;
    background-size: cover !important;
    background-position: center !important;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.title {
    font-size: 22px;
    color: #fff;
    margin-bottom: 8px;
}

.overlay {
    height: 150px;
    background: linear-gradient(0deg, #00000080, #00000000);
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.plataforms {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 8px;
}

// Mobile
@media (max-width: 480px) {
    .card {
        width: 90%;
        height: 230px;
        margin: 0 auto 16px auto;
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        width: 94%;
        height: 280px;
        margin: 0 auto 20px auto;
    }
}

