.main {
    
    background: #fff;
    
    .container {
        margin: 0 auto;
        text-align: left;
        margin-bottom: 40px;
        padding: 0px 40px;
        
        h2 {
            font-size: 32px;
            margin-bottom: 12px;
        }
    
        p {
            margin-bottom: 8px;
        }
    }

    .background {
        height: 400px;
        width: 100%;
        background-size: cover !important;
        background-position: center top !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .overlayStyle {
        background: linear-gradient(0deg, #ffffff, #ffffff20);
        width: 100%;
        height: 100%;
    }

    .images {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        gap: 80px;
        max-width: 1300px;
        margin: -100px auto 0 auto;
    }

    .columnMetrics{
        min-width: 400px;
        background: #00000020;
        border-radius: 6px;
        overflow: hidden;
        margin-bottom: 40px;
    }

    .metrics {
        padding: 20px;
        text-align: center;

        button {
            width: 100%;
            border: none;
            background: var(--primaryColor);
            padding: 10px 20px;
            color: #fff;
        }
    }
}



// Mobile
@media (max-width: 480px) {
    .main {
        .container {
            text-align: center;
            padding: 20px;
            margin-bottom: 0px;
            
            h2 {
                margin-bottom: 12px;
            }
        }
    
        .flex {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            margin-top: -180px;
            gap: 10px;
        }
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {

}