.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 40px;
    
    h1, h2, h3 {
        font-weight: 300;
    }

    h1 {
        strong {
            color: #15718d;
        }
    }

    button {
        display: flex;
        align-items: center;
        gap: 8px;
        border: none;
        background: none;
        max-width: 100px;
        cursor: pointer;
        color: var(--primaryColor);
        font-weight: 600;
    }
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
}

.footerLinks {
    display: none;
}


// Mobile
@media (max-width: 480px) {
    .header {
        padding: 26px;
        flex-direction: column;
    }

    .headerLink { display: none };

    .footerLinks {
        padding: 0px 20px;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primaryColor);
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .headerLink { display: none };

    .footerLinks {
        padding: 0px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--primaryColor);
    }
}