.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-bottom: 40px;
    
    h1, h2, h3 {
        font-weight: 300;
    }

    h1 {
        strong {
            color: #15718d;
        }
    }
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}


// Mobile
@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .header {
        padding: 26px;
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}