.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}


// Mobile
@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}